<!DOCTYPE html>
<html>
<head><title>Members Area</title></head>
<body>
    <h1>Hello, <%= user.name %>!</h1>
    <img src="/<%= image %>" alt="Random Image" width="300">
    <br>
    <a href="/logout">Logout</a>
</body>
</html>